<div class="publications">
  <!-- <h2>selected publications</h2> -->
  {% bibliography -f preprints --group_by none -q @*[selected=true]* %}
  {% bibliography -f papers --group_by none -q @*[selected=true]* %}
  {% bibliography -f reports --group_by none -q @*[selected=true]* %}
</div>
